body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(232,232,232); 
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: crimson;
    text-decoration: underline;
}

h2{
    font-family:'Courier New', Courier, monospace;
    color: blue;
}

.line{
    height: 250px;
    width: 70%;
    display: flex;
    overflow: auto;
    justify-content: center;
    gap: 15px;
    
}

.column{
    /* border: 3px solid blue; */
    width: 70%;
    margin: 30px;
    
}

.image{
    float:right;
    width: 20%;
}

