body{
    background-color: #0F2438;
    color: #FFFC1A;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.comand{
    border: 2px solid #6AFF6E;
    background-color: #6AFF6E;
    color: #0F2438;
    border-radius: 15px;
    padding: 7px;
    margin-bottom: 5px;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.comand:hover{
    background-color: #0F2438;
    color: #6AFF6E;

}

.title{
    color: #6AFF6E;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}


.image{
    width: 15%;
    float: right;
}

h1{
    margin-top: -150px;
}

.column{
    margin-left: 8%;
    margin-right: 5%;
}

.line{
    margin-bottom: 12px;
}

/* Style des Images */

.img{
    width: 60%;
    border: 3px solid #FFFC1A;
    border-radius: 25px;
}

.image-column{
    margin-left: 8%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.image-row{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    margin-bottom: 35px;
    flex-direction: column;
    align-items: center;
}