body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #C8E5EE; 
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #62091B;
    text-decoration: underline;
    align-items: center;
}

h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #0000A8;
    text-decoration: underline;
}

.line{
    height: 250px;
    width: 70%;
    display: flex;
    overflow: auto;
    justify-content: center;
    gap: 15px;
    
}

.column{
    /* border: 3px solid blue; */
    width: 70%;
    margin: 30px;
    
}

.image{
    float:right;
    width: 20%;
}

.menu{
    display: flex;
    overflow: auto;
    gap: 7px;
    /* border: 2px solid rgb(0, 150, 255) ; */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    }

    .comand{
        border: 2px solid #004170;
        border-radius: 15px;
        background-color: #004170;
        padding: 7px;
        text-decoration: none;
        color: #FFFF8F;
        margin-bottom: 15%;
    }

    .comand:hover{
        background-color: #FFFF8F;
        color: #004170;
        text-decoration: underline;
    }